services:
  postgres:
    image: postgres
    container_name: postgres_db
    restart: unless-stopped
    environment:
      POSTGRES_USER: sa
      POSTGRES_PASSWORD: qweQWE123!
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"